body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.heading {
  background: #2e236c;
  color: #c8acd6;
  padding: 30px;
}
nav {
  list-style-type: none;
  display: flex;
  text-align: center;
  font-family: "Poppins";
}
nav li {
  margin-left: 90px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.heading h1 {
  font-family: "Poppins";
  font-size: 70px;
}

.content-text {
  padding: 20px;
  text-align: center;
}
.content-text p {
  font-size: 18px;
}
.content-text button {
  padding: 20px;
  font-size: 20px;
  font-family: "poppins";
  width: 300px;
  color: #c8acd6;
  border: 1px solid white;
  background: #17153b;
}
nav li:last-child {
  border: 1px solid #c8acd6;
  padding: 2px;
  width: 150px;
  height: 30px;
  background: #433d8b;
}
nav li:first-child {
  font-family: "Amatic SC";
  font-size: 40px;
  color: white;
}
.collection {
  padding: 30px;

  text-align: center;
}
.collection h1 {
  font-size: 60px;
  padding: 0px;
}
.collection p {
  margin-bottom: 80px;
  padding: 10px;
  color: #433d8b;
}
.collections {
  display: flex;
}

.collection img {
  height: 300px;
  width: 200px;
  margin-left: 120px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.why-us-content {
  display: flex;
  text-align: center;
}
.why-us-content p {
  font-size: 18px;
  overflow-wrap: break-word;
}
.why-us h1 {
  font-size: 40px;
}

.why-image img {
  height: 300px;
  width: 300px;
  margin-left: 20px;
  border-radius: 5px;
}
.quote {
  text-align: center;
}
.quote p {
  font-size: 20px;
  font-family: "Georgia";
}
.quote p:first-child:first-letter {
  font-size: 160px;
  line-height: 1;
  z-index: 0;
  margin-bottom: 20px;
  font-family: "Anton";
  margin-left: 90px;
  position: absolute;
  color: crimson;
}

button:hover {
  color: black;
  border-color: black;
  background: #b5baff;
}
